.text-field-white-text > div >  input {
  color: whitesmoke;
}

.text-field-white-text > div > textarea {
  color: whitesmoke;
}

.text-select-white-text > div {
  color: whitesmoke;
}

.dropzone-wrapper > div {
  background: #424242;
}

.dropzone-wrapper > div > div > svg {
  color: white;
}
