.nav-card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.hidden-details {
  transition: 0.5s ease;
  opacity: 0;
}

.overlay-wrapper {
    transition: 0.5s ease;
}

.nav-card-container:hover .hidden-details {
  opacity: 1;
}

.nav-card-container:hover .overlay-wrapper {
    background: rgba(0, 0, 0, 0.1);
}
